node_modules
nohup.out
npm-debug.log
error_log                                                                                                                                                   
reports.sql 
