/config.js
config.js
.nodemonignore
nohup.out
npm-debug.log
error_log                                                                                                                                                   
lib/error_log
reports.sql 
