@CHARSET "ISO-8859-1";

.hidden {
    display: none;
}
.player {
    background-color: inherit;
    width: 100%;
}
.title {
    cursor: pointer;
}
.this_excerpt {
    word-wrap: break-word;
}
.cover {
    height: 250px;
}
.duration {
    height: 250px;
    width: 100%;
    background-color: initial;
    border: 0px !important;
}
.volume {
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: initial;
}
.tracktime {
    height: 25px;
}
img.ui-li-img {
    float: right;
    margin: 2px;
}
.ui-icon {
    -ms-transform: scale(1.0);
    /* IE 9 */
    -webkit-transform: scale(1.0);
    /* Chrome, Safari, Opera */
    transform: scale(1.0);
}
.ui-li-title { font-weight: bolder; }
.ui-li-moreinfo { font-weight: bolder; }
.ui-li-moreinfo:hover {
    background-color: rgba(0, 0, 0, 0.10);
    color: #fff;
}
.ui-slider-range {
    background: rgba(0, 0, 0, .3);
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    position: absolute;
    width: 10px;
}
.volume .ui-slider-handle {
    background: rgba(0, 0, 0, 0.10);
    height: 25px;
    width: 25px;
}
.duration .ui-slider-handle {
    background: rgba(0, 0, 0, 0.10);
    height: 25px;
    width: 25px;
}
.playlist {
    /*     background-color: #fff; */
    list-style-type: none;
    margin: -1px 0 0 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 100%;
}
.playlist li {
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 12px;
}

.playlist li.active {
    background-color: rgba(0, 0, 0, 0.10);
}

.playlist li:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

@media only screen and (max-width: 600px) {

    .cover {
        height: 100px;
    }
    .duration {
        height: 100px;
    }    

}