.hidden{ display: none; }
pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
.pure-menu-horizontal { white-space: inherit; }
.pure-form select{width: 100%;}
.pure-form select[multiple]{width: 100%;}
.pure-padding-box {padding: 1em;}
.pure-menu-item.current{
    text-decoration: underline;
}
.wp-core-ui select {
	line-height:inherit;
	height:inherit
}
select {
    width: 100%;
}

.container {
    margin: 0 auto;
}
.tab-content {
    display: none;
    border-radius: 5px;
}
.tab-content.current {
    display: inherit;
}
div.playlist-config-tab-content.current {
    display:inherit;
}
div.playlist-config-tab-content {
    display:none;
}
div.config_post_meta_tags {
    display:none;
}

div.config_post_meta_tags.current {
    display:inherit;
}

[type="date"] {
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
