pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
.pure-menu-horizontal { white-space: inherit; }
.pure-form select{width: 100%;}
.pure-form select[multiple]{width: 100%;}
.wp-core-ui select {
	line-height:inherit;
	height:inherit
}
select {
    width: 100%;
}

.container {
    margin: 0 auto;
}

.admin-container label {
    text-transform: capitalize;
    font-weight: bolder;
}

.tab-content {
    display: none;
    background: #ededed;
    border-radius: 5px;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

div.config_post_meta_tags {
    display:none;
}

div.config_post_meta_tags.current {
    display:inherit;
}